@import url("https://fonts.googleapis.com/css2?family=Anton&family=Qwitcher+Grypen:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Qwitcher+Grypen:wght@700&family=Rampart+One&display=swap");

body {
  background-color: pink;
}
/* target the p tag which is inside .firstClass */
.FirstDiv > p {
  font-size: 30px;
  font-family: "Rampart One", cursive;
}
