* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(to right top, blue, deeppink, pink);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: white;
  margin: 10px 0px;
}
table,
tr,
th,
td {
  border-collapse: collapse;
  border: 5px solid grey;
}
tr,
td,
th {
  padding: 10px;
}
tr, th 
{
    background-color: blueviolet;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: rgba(230, 199, 142, 0.813);
}
